{% extends "layout.html" %}
    {% block content %}
        <div class=container style="width: 100%; display: inline-block;">
            <div class=" col-md-6">
                <img src="{{ url_for('og_img', filename = og)}}" class="rounded float-left" alt="...">
            </div>
            
        </div>
        <div class=container style="width: 100%; display: inline-block;">
            <div>
                <img src="{{ url_for('colorize', filename = res_name)}}" class="rounded float-right">
            </div>
            
        </div>
    {% endblock content %}
   